@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Seaweed+Script&display=swap');

html body{font-family: 'Inter', sans-serif; font-size: 16px;color: #1a1a1a;}

[class*="col-"] {padding: 0 10px;}

.row {margin: 0 -10px;}

::selection{	background:#124477;	color:#fff; }

a { color:#FF4415;}

a:hover, a:focus, button:hover, button:focus{outline: none;}

section {padding: 80px 0;clear: both;position: relative;margin: 0;overflow: hidden;}

html {    scroll-behavior: smooth;  }

h1,h2,h3,h4,h5,h6{    font-family: 'Inter', sans-serif;	  font-weight: 600;    }

span, img , i {   vertical-align: baseline; 	}
  
body p {	color: #65696A;		font-family: 'Inter', sans-serif;	font-weight: 400; }

label.error {    display: none !important;	}

input.required.error, textarea.required.error, select.required.error {    border-bottom: red 2px solid !important;    color: red !important; }

img{max-width: 100%;}

header {position: relative;top: 0;width: 100%;padding: 15px 30px;z-index: 1;background: #0A1436;}

.hd-left i.fa {    color: #fff;    margin-right: 20px;  }

.btn {background: #FF9401;border-radius: 6px;color: #fff;padding: 10px 28px;font-size: 1rem;margin-right: 6px;border-color: #FF9401;}

.btn:hover , .btn:active , .btn:focus {    background: #24272E;   border-color: #24272E;    color: #fff;}

.btn.btn-lgreen {  background: lch(65.5 66.18 143.27 / 0.1);	border-color: lch(65.5 66.18 143.27 / 0.1);   color: #2FB652;}

.btn.btn-blue{   background:#00CFE8; border-color:#00CFE8;	}

ul , ol , dl {    padding-left: 0;    margin-bottom: 0;	}

header .col-md-12 {display: flex;justify-content: space-between;align-items: center;}

.hd-right ul {display: flex;justify-content: end;}

.hd-center {    width: 55%;    padding-right: 15px;   }

.hd-left {width: 15%;padding-right: 15px;display: flex;align-items: center;}

.hd-right {    width: 29%;    padding-left: 15px;}

.hd-right ul li a {    margin-right: 0;   }

.hd-center input.hd-search-input {width: 80%;border: none;font-size: 15px;color:#65696A;outline: none;border-right: 1px solid #65696A;padding: 5px;background: transparent;}

header form.hd-search {background: #F8F8F8;padding: 7px 10px 7px 40px;width: 100%;border-radius: 5px;display: flex;justify-content: space-between;position: relative;}

header form.hd-search:before {content:"";background: url('../images/search.png') no-repeat scroll left center;position:absolute;width:22px;height:22px;top: 12px;left: 10px;}

header form.hd-search select.hd-search-select {background: transparent;border: none;font-size: 15px;color:#65696A;width: 20%;padding: 5px;}

.flags {width: 46px;height: 46px;background: url('../images/flag.png') no-repeat scroll center center;border-radius: 50%;background-size: contain;}

.btn.btn-green {    background: #2FB652;    border-color: #2FB652;   }

.btn.btn-green:hover , .btn.btn-green:focus , .btn.btn-green:active {    background-color: #1D2733;    color: #fff;    border-color: #1D2733;	}

.btn.btn-red {    background: #FF4415;    border-color: #FF4415;   }

.hd-right ul li {    margin-left: 10px;    list-style: none;  }

.hd-right ul li .btn-cart {padding: 11px 13px;display: flex;align-items: center;}

.nav-container {    overflow: hidden;    padding: 0 30px;    width: 100%;    position: relative;   }

.nav-container ul {    display: flex;    list-style: none;   }

.nav-container ul li {    margin-right: 0;	}

nav.navbar {    padding: 0;   }

.nav-container ul li a {padding: 20px;display: block;color: #333;font-size: 0.9rem;}

.nav-container ul li a:hover , .nav-container ul li a:focus , .nav-container ul li a:active {  color: #000;  }

section.banner {background: url('../images/banner.jpg') no-repeat scroll center top #5F3D28;padding: 6rem 0;width: 100%;background-size: cover;}

section.banner h1 {    color: #fff;    font-size: 3.5rem;   }

section.banner  h4 {    color: #FF4415;    font-size: 2rem;     font-family: "Seaweed Script", cursive; }

section.banner  p {    color: #fff;    font-size: 1.1rem;   }

section.banner h6 {    color: #fff;    font-weight: normal;    margin-top: 20px;	}

section.banner .btn {    margin: 10px 0;	}

section.banner h6 a {    font-weight: 600;    color: #fff;    vertical-align: baseline;  }

.head_style  h5 {font-family: "Seaweed Script", cursive;color: #FF4415;font-size: 2rem;margin-bottom: 10px;font-weight: normal;}

.head_style  h2 {margin-bottom: 10px;font-size: 3rem;font-weight: 700;}

.head_style {margin-bottom: 40px;}

.head_style.center {   text-align: center;	}

.sfuod-item {    text-align: center;  }

.sfuod-item img.service-img {    border-radius: 10px;    margin-bottom: 20px;   }

.sfuod-item  p {    color: #65696A;    padding: 0 20px;    margin-top: 0px;  }

section.top-service {    background: #FFF6E8;  }

.ts-item {padding: 15px;width: 100%;background: #fff;border-radius: 10px;height: 100%;display: flex;align-items: center;box-shadow: 0 10px 10px #00000014;}

.top-service .col-md-4 {margin-bottom: 20px;}

.top-service  .col-md-12.text-center {    margin-top: 20px;   }

.ts-item h4 strong {display: block;font-weight: 600;font-size: 1rem;}

.ts-item h4  span.dd_time {display: block;font-size: 0.9rem;font-weight: normal;color: #65696A;margin-top: 4px;}

.ts-item h4 {margin: 0;list-style: none;padding-left: 0;display: flex;flex-flow: column;}

.ts-item img {margin-right: 10px;width: 65px;}

img.alter-img {    border-radius: 20px;  }

.sec-alter .row {align-items: center;margin-top: 30px;margin-bottom: 30px;}

section.privacy-sec {    background: hsl(36deg 99% 55% / 10%);    text-align: center;   }

section.privacy-sec p {    width: 80%;    margin: 20px auto;   }

section.privacy-sec .col-md-6 {    margin: 20px 0;	}

section.privacy-sec img.privacy-bor {    border-radius: 20px;    margin-bottom: 20px;  }

.sec-alter .row:nth-of-type(even) {}

.sec-alter .row:nth-of-type(even) .col-md-6.head_style {    padding-left: 40px;   }

section.brown-alter {background:url('../images/cta-bg.jpg') no-repeat scroll center top #4A230C;text-align: center;color:#fff;padding: 8rem 0;}

section.brown-alter h2{    font-size: 3rem;    letter-spacing: 1px;  }

section.brown-alter  h5 {    color: #fff;    font-size: 2rem;   }

section.brown-alter p {    color: #fff;    font-size: 1.2rem;   }

section.testimonials {    background: #EBF8EE;		}

.test-slider .owl-item {    float: left;   }

.test-item {    padding: 30px;    width: 100%;    background: #fff;    border-radius: 5px;    box-shadow: 0 6px 6px #ddd;	}

.test-item p {color: #65696A;font-size: 1rem;margin-bottom: 0;}

.test-thumb {display: flex;align-items: center;margin-bottom: 20px;}

.test-thumb img {    margin-right: 10px;    width: 48px;    border-radius: 50%;   }

.test-thumb  h5 {font-weight: 500;font-size: 1rem;margin-bottom: 0;}

.test-thumb h5 strong {    font-weight: inherit;    margin-bottom: 4px;    display: block;   }

.test-thumb h5 span {    display: block;    font-size: 14px;    font-weight: normal;    color: #FEA218;   }

.downapp ul {    display: flex;    margin-top: 30px;   }

.downapp ul li {    margin-right: 10px;    list-style: none;  }

section.newsletter {background: #fff6e8;}

.news-subs {background: #FF4415;padding: 50px;border-radius: 30px;width: 100%;position: relative;overflow: hidden;}

.news-left h3 , .news-left p {    color: #fff;		}

form.form-news {    position: relative;    width: 100%;    height: 64px;    background: #fff;    border-radius: 10px;    overflow: hidden;    display: flex;    justify-content: space-between;   }

form.form-news input.news-s {    width: 70%;    border: none;    padding: 10px 10px 10px 20px;    color: #000;    outline: none;  }

form.form-news input.news-s::placeholder {	  color: #000;    }

form.form-news input.news-s::-ms-input-placeholder { 	color: #000;	}

form.form-news button.news-btn {    width: 30%;    background: #2FB652;    color: #fff;    border: none;   }

.news-subs .row {    align-items: center;    position: relative;    z-index: 1;   }

.news-subs:after {    content: "";    position: absolute;    right: -6%;    width: 50%;    height: 100%;    background: #FEA218;    top: 0;    border-radius: 0;    z-index: 0;    transform: skewX(-15deg);   }

section.faq-sect {    background: #F8F8F8;	}

section.faq-sect div#faqaccordion {    display: flex;    flex-flow: wrap;    justify-content: space-between;  }

section.faq-sect div#faqaccordion .card {    width: 100%;    margin-bottom: 20px;   }

section.faq-sect div#faqaccordion .card a.btn-f {    color: #333;    display: block;    text-decoration: none;  }

footer.footer {    background: #0A1436;    padding-top: 60px;    width: 100%;   }

footer.footer p {    color: #fff;    }

footer.footer  h4 {    color: #fff;    font-size: 18px;    margin-bottom: 20px;   }

.footer address {    border-top: 1px solid #b7b7b7;    padding: 30px 0;    color: #fff;    font-size: 14px;    margin-bottom: 0;    margin-top: 60px;   }

.footer li {margin-top: 10px;list-style: none;}

.footer li a {    color: #fff;    font-size: 14px;    font-family: 'Inter' , sans-serif;    text-decoration: none; }

.footer li a:hover , .footer li a:active ,.footer li a:focus {    color: orange;   }

img.footer-logo {    margin-bottom: 20px;	}

.test-slider .disabled {    display: none;  }

ul.social {    display: flex;	margin-top:20px;   }

ul.social li {margin-right: 10px;margin-top: 0;list-style: none;}

ul.social li a {width: 30px;height: 30px;background-color: #1877F2;border-radius: 3px;display: flex;align-items: center;justify-content: center;color: #fff;text-decoration: none;}

ul.social li a.tw {    background-color: #1DA1F2;		}

ul.social li a.link {    background-color: #0077B5;		}

section.form-section {    padding: 20px 10px;   }

.formrimg {    line-height: 0;    }

.formrimg img {		border-radius: 20px;    /*width: 100%;*/	}

.form-section .row {    align-items: center;   }

.form-head {    text-align: center;   }

.form-head h4 {    margin-top: 30px;    }

.form-head  p {    color: #65696A;    margin-bottom: 30px;   }

.form-area p.paras {    margin-top: 20px;   }

.form-soc ul {display: flex;justify-content: center;margin-top: 0;padding-top: 40px;}

.form-or {    width: 100%;    border-top: 1px solid #ddd;    margin-top: 50px;    text-align: center;   }

.form-or span {    background: #fff;    padding: 5px 20px;    display: table;    margin: -17px auto 0;    font-size: 14px;   }

.field-wrap {    position: relative;   }

.field-wrap i.fa {position: absolute;top: 14px;left: 15px;color: #65696A;}

.form-group label {    display: block;    font-size: 14px;    margin-bottom: 5px; 	 color:#65696A;   }

.field-wrap .form-control {padding-left: 40px;}

.form-control {height: 46px;color: #65696A;}

.form-area p.paras a {    color: #FF4415;   }

.form-inn-sec {		padding:0 40px;		}

.form-soc ul.social li a {    width: 50px;    height: 50px;    font-size: 1.5rem;   }

.form-soc ul.social li {    margin: 0 10px;		}

.otp-group {    display: flex;    justify-content: space-between;    margin-top: 10px;   }

.otp-group input.form-control {    width: 14.66%;	}

.custom-nav ul.nav.nav-tabs {margin: 50px 0;border: none;justify-content: space-between;}

.custom-nav ul.nav.nav-tabs li a {    padding-left: 54px;    position: relative;    display: flex;    flex-direction: column;    color: #000;    text-decoration: none;   }

.custom-nav ul.nav.nav-tabs li a small {    display: block;    color: #65696A;   }

.custom-nav ul.nav.nav-tabs li a span.sign-ico {    position: absolute;    left: 0;    background: #eee;    width: 40px;    height: 40px;    display: flex;    align-items: center;    justify-content: center;    border-radius: 3px;    top: 3px;	}

.custom-nav ul.nav.nav-tabs li a b {display: block;/* color: #65696A; */font-weight: 600;font-size: 1re;}

.custom-nav ul.nav.nav-tabs li {    width: 36.33%;   position: relative; }

.custom-nav ul.nav.nav-tabs li .fas {position:absolute;right: 10px;top: 0;color: #000000ab;bottom: 0;margin: auto;height: 13px;}

.custom-nav ul.nav.nav-tabs li:last-child {margin-right: 0;width: auto;}

.custom-nav ul.nav.nav-tabs li a.active span.sign-ico {    background: #2FB652;   }

.custom-nav ul.nav.nav-tabs li a.active span.sign-ico img {    filter: brightness(100);   }

.custom-nav ul.nav.nav-tabs li a span {    color: #65696A;    font-size: 13px;  }

.ttb-form h3 {font-weight: 700;margin-bottom: 30px;width: 100%;}

.ttb-form h3 span {    display: block;    font-size: 1rem;    font-weight: normal;    color: #65696A;    }

.extr-pr {    margin-top: 40px;   }

.btn-nex-prev.full {display: flex;justify-content: space-between;margin-top: 20px;}

.btn-nex-prev.full .btnNext {margin-right: 0;font-size: 14px;}

.btn.btn-grey {    color: #65696A;    background-color: hsl(192deg 2% 41% / 10%);    border-color: hsl(192deg 2% 41% / 10%);  } 

.success-area {    text-align: center;   }

.success-area img {    max-width: 250px;   }

section.astore-banner {    padding-top: 20px;    padding-bottom: 0;  }

.breadcrumb ul {    display: flex;   }

.breadcrumb ul li {    list-style: none;    margin-right: 20px;    padding-right: 0;    font-size: 14px;    color: #666;    position:relative; }

.breadcrumb ul li.sep{
	background: url('../images/bread-sep.png') no-repeat scroll right center;
	padding-right: 10px;
}

.breadcrumb {
    padding: 20px 35px;
    margin-bottom: 30px;
    border-radius: 6px;
    background: #F8F8F8;
}

.breadcrumb ul li a {
    color: inherit;
}

img.ast-banner { 	border-radius:10px;   }

.dep-item {
    padding: 25px 15px; 
    width: 100%;
    background: #fff;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 8px #00000014;
    flex-flow: column;
}

.dep-service .col-md-4 {
    margin-bottom: 30px;
}

.owl-item {
    float: left;
}

.dep-item img.dep-ico {
    max-width: 70px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.dep-item  span {
    display: block;
    font-size: 1rem;
}

.dep-store {
    /* overflow: hidden; */
    margin-bottom: 3rem;
    display: flex;
    width: 100%;
}

ul.tas-filter {
    display: flex;
    justify-content: right;
}

ul.tas-filter li {
    margin-left: 10px;
    list-style: none;
    font-size: 14px;
}

ul.tas-filter li select {
    background: #eee;
    border-color: #eee;
    padding: 8px;
    border-radius: 3px;
}

.disabled {
    display: none;
}

.dep-store .owl-stage {
    padding-bottom: 10px;
}

.dep-store .owl-item {
    visibility: hidden;
}

.dep-store .owl-item.active {
    visibility: visible;
}



.str-def-list {
    padding: 0 30px;
    margin-top: -30px;
    display: flex;
    position: relative;
    z-index: 1;
    align-items: flex-end;
}

img.str-banner {
    position: relative;
    z-index: -1;
}

.str-def-icon {
    margin-right: 10px;
    border-radius: 50%;
    border: 5px solid #fff;
    line-height: 0;
    object-fit: cover;
    overflow: hidden;
}

.str-def-txt li {list-style: none;margin-right: 20px;color: #1D2733;}

.str-def-txt ul {
    display: flex;
    font-size: 14px;
}

.str-def-txt li i.fa-star-half {
    color: #CFCFCF;
}

.strdef-bann {
    position: relative;
    padding-bottom: 20px;
    box-shadow: 0 4px 10px #ddd;
    border-radius: 10px;
}

.str-def-txt ul .fa-star {
    color: orange;
    margin-right: 5px;
}

.sory_by_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sory_by_list .head_style {
    margin-bottom: 0;
}

.sory_by_pro {
    font-size: 14px;
}

select.sort_by_brand {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 6px;
}

section.strdef-banner {
    padding: 20px 0;
}

section.store-product {
    padding-top: 40px;
}

.sory_by_list .head_style h2 {
    font-size: 2.2rem;
}

.sfil-blk {
    margin-top: 40px;
    width: 100%;
    position: relative;
}

select.sf-placeholder {
    margin-top: 30px;
}

.sfil-blk ul li {
    list-style: none;
    margin-top: 5px;
    font-size: 14px;
    color: #1D2733;
}

.sfil-blk h5 {
    margin-bottom: 20px;
}

.lowtohigh {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.lowtohigh label.lwth {
    margin: 0;
    padding: 0 10px;
    color: #65696A;
}

.reset-btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.reset-btns button.btn {
    margin-right: 0;
    width: 47%;
}

.reset-btns button.btn.btn-transparent {
    color: #000;
    border-color: #000;
    background: transparent;
}

.prod_item {
    margin-bottom: 40px;
}

.prod_item img.prod_img {
    width: 100%;
}

.prod_thumb {
    position: relative;
    line-height: normal;
}

span.best_seller {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #2FB652;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 30px;
}

span.wishlist {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #FF4415;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.out_of_stock {
    background: #FF4415;
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
}

.prod_txt a.prod_title {
    display: block;
    color: #1D2733;
    font-weight: 600;
    font-size: 1.2rem;
}

span.prod_cat {
    color: #65696A;
    font-size: 14px;
}

.prod-star {
    font-size: 14px;
    color: #FFBC04;
}

.prod-star span {
    color: #1D2733;
}

.prod_txt h5 {
    color: #1D2733;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: normal;
}

.prod_txt h5 ins {
    text-decoration-line: line-through;
    color: #FF4415;
}

.prod_txt a.btn.add_to_cart {
    font-size: 14px;
}

.prod_item {
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.store-product .col-md-9 .row {
    justify-content: center;
}

.prod-detail h5 {
    color: #65696A;
    font-size: 1rem;
    font-weight: normal;
}

.prod-detail h1 {
    color: #000;
    font-size: 2.5rem;
}

.prod-detail .prod-star {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
}

.prod-detail li {
    list-style: none;
    color: #65696A;
    margin-bottom: 20px;
    width: 100%;
}

.prod-detail li h4 {
    display: inline;
    color: #000;
}

.prod-detail li label {
    margin-bottom: 0;
    margin-right: 10px;
}

.sise-label {
    margin-top: 20px;
}

.prod-detail li b {
    color: #000;
    font-weight: normal;
}

.qty-input-add {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.qty-input {
    margin-right: 20px;
    border: 1px solid #65696A;
    border-radius: 5px;
    height: 48px;
    padding: 7px;
}

.qty-input button.btn-add-to-cart {
    margin-right: 0;
}

.prod-detail li .sise-label {
    display: flex;
}

.prod-detail li .sise-label label span {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.prod-detail li .sise-label label input[type="radio"] {
    opacity: 0;
    display: none;
}

.prod-detail li .sise-label label input[type="radio"] ~ span { }

.prod-detail li .sise-label label input[type="radio"]:checked ~ span {   background: #2FB652;  border-color: #2FB652;  color:#fff; }

.prod-detail li .sise-label label input[type="radio"] ~ span.blue {
    background: blue;
    border-color: blue;
}

.prod-detail li .sise-label label input[type="radio"] ~ span.orange {
    background: orange;
    border-color: orange;
}

.prod-detail li .sise-label label input[type="radio"] ~ span.red {
    border-color: red;
    background: red;
}

.prod-detail li .sise-label label input[type="radio"] ~ span.green {
    background: green;
    border-color: green;
}

.prod-detail li .sise-label label input[type="radio"] ~ span.black {
    background: #333;
    border-color: #333;
}

.prod-detail li .sise-label label {
    margin-right: 0;
}

.prod-detail li span i {
    color: orange;
    font-style: normal;
}


.qty-input button {
    border: none;
    background: no-repeat;
    font-size: 1.5rem;
    height: auto;
    line-height: 1.5rem;
}

.qty-input input.product-qty {
    border: none;
    text-align: center;
    -webkit-appearance: none !important;
    outline: none;
    width: 60px;
}

.thumbnails {
    overflow: hidden;
    margin-top: 10px;
}

.thumbnails img {
    border-radius: 5px;
    border: 1px solid #eee;
}

img#display-image {
    border-radius: 20px;
}

section.best-seller {
    background: #EBF8EE;
}

.best-slider-sim {
    overflow: hidden;
}

.row.row-product-tabs {
    margin-top: 50px;
}

.pt-tabs-inn ul.nav.nav-pills {
    margin-bottom: 30px;
}

.pt-tabs-inn ul.nav.nav-pills li a {
    font-size: 1.1rem;
    color: #333;
    padding: 10px 20px;
    width: 100%;
    border-bottom: 3px solid transparent;
    display: block;
    font-weight:500;
}

.pt-tabs-inn ul.nav.nav-pills li a.active, .pt-tabs-inn ul.nav.nav-pills li a:hover  {
    border-bottom-color:#FEA218;
	text-decoration:none;
}

.pt-tabs-inn ul.nav.nav-pills li {    margin-right: 20px;   }

.pt-tabs-inn  li {margin-top: 10px;list-style: none;color: #65696A;}

.pt-tabs-inn li strong {    font-weight: 500;   }

.cart-prod-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dedede;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.cart-thumb {
    width: 23%;
}

.cart-text {
    width: 74%;
    position: relative;
    margin-top: 0;
}

.cart-text a.cart_title {
    color: #1e1e1e;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
}

.cart-text a.cart_cat {
    display: table;
    color: #FEA218;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: none;
}

.cart-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h6.cart-stock {
    margin: 15px 0;
    width: 100%;
    position: relative;
    color: #65696A;
}

h6.cart-stock b {
    color: #2FB652;
    font-weight: unset;
}

.cart-qty .qty-input {
    margin-right: 0;
}

.cart_sv_de a {
    color: #65696A;
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 1rem;
}

.cart-text h5.cart-pro-total {
    position: absolute;
    right: 0;
    top: 0;
}

.cart-products {
    padding-right: 0;
}

.car-left-total ul {
    list-style: none;
}

.car-left-total ul li {
    width: 100%;
    justify-content: space-between;
    display: flex;
    font-weight: 500;
    margin-bottom: 10px;
}

.car-left-total ul li b {
    font-weight: inherit;
}

.car-left-total ul li label {
    margin-bottom: 0;
}

.car-left-total ul li.clt-total {
    border-top: 1px solid #dedede;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.car-left-total .row {
    align-items: end;
}

a.backtoshop {
    color: #1e1e1e;
}

.cart-pbx {
    box-shadow: 0 10px 20px #dddddd8c;
    padding: 25px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
}

.cart-gift {
    padding: 20px;
    width: 100%;
    display: flex;
    box-shadow: 0 10px 20px #dddddd8c;
    align-items: center;
    margin-top: 30px;
}

.promo-bx {
    position: relative;
}

.cart-promo-bx {
    margin-bottom: 30px;
}

.cart-uls li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #65696A;
    margin-bottom: 10px;
    font-size: 15px;
}

ul.pays-list li {
    margin-right: 10px;
    width: 80px;
    padding: 2px 10px;
    border: 1px solid #ddd;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
}

.cart-uls li strong {
    font-weight: 600;
    color: #1e1e1e;
}

.cart-uls li.total-cost {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 10px;
    color: #1e1e1e;
    font-weight: 600;
}

button.proceed_checkout {
    width: 100%;
    margin-top: 20px;
}

.promo-bx button.promo-apply {
    position: absolute;
    right: 14px;
    top: 10px;
    border: none;
    background: transparent;
    color: #ff9401;
    padding: 0;
    font-weight: 500;
}

.cart-uls li label {
    margin-bottom: 0;
}

.cart-txt h5 {
    margin-bottom: 0;
}

.cart-txt p {
    margin-bottom: 0;
    color: #65696A;
    font-size: 14px;
    margin-top: 2px;
}

.cart-img {
    background: #fea21824;
    padding: 10px;
    width: 76px;
    height: 60px;
    margin-right: 15px;
    border-radius: 3px;
}

.cart-promo-bx label {
    font-size: 14px;
    color: #1e1e1e;
}

.promo-bx input.form-control {
    font-size: 14px;
}

.check-add.custom-nav ul.nav.nav-tabs {
    margin-top: 0;
}

.check-add.custom-nav ul.nav.nav-tabs li {
    /* width: 33.33%; */
}

.chk_blklist {
    margin: 40px 0;
    width: 100%;
    position: relative;
}

.chk_list_add {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

.chk_list_add h5 {
    margin-bottom: 0;
}

.chk_list_add h5 span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    color: #65696A;
    margin-top: 7px;
}

.chk_list_blk {
    display: flex;
    justify-content: space-between;
}

.chk_list_blk {margin-bottom: 20px;}

.chk_input_chk {
    display: flex;
    justify-content: space-between;
}

.chk_input_chk input.chk_chk {
    margin-right: 10px;
    line-height: normal;
}

.chk_input_chk h6 {
    margin-bottom: 0;
}

.chk_input_chk h6 span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    color: #65696A;
    margin-top: 7px;
}

.cart-stock h6 {
    font-weight: normal;
}

.cart-stock h6 b {
    font-weight: inherit;
    color: green;
}

h4.chk_h4 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

a.chk_edit {
    color: #65696A;
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 1rem;
    text-transform: none;
}

.cart-products h4 {
    margin-bottom: 20px;
    width: 100%;
}

.btn-nex-prev {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-nex-prev a {
    margin-right: 0;
}

.btn-nex-prev a.btn.btnNext {
    background: transparent;
    border: none;
    color: #65696A;
    padding: 0;
}

.btn-nex-prev a.btn.btnNext:hover {
    background: transparent;
    border: none;
}

.delivery-blk {
    background: #F8F8F8;
    padding: 30px;
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.delivery-blk p {
    margin-bottom: 0;
}

.delivery-blk h6 {
    margin-bottom: 5px;
}

a.v_details ,
input.del_chk {
    float: right;
    margin-top: 20px;
	color:#FEA218;
}

.delivery-grey{
    background: #F8F8F8;
    padding: 25px 30px;
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.deliv-img {
    background: #FEA218;
    padding: 12px;
    border-radius: 5px;
    margin-right: 10px;
}

.delivery-grey .col-md-6 {
    display: flex;
    align-items: center;
    padding: 0;
}

.deliv-text h6 {
    margin-bottom: 0;
}

.deliv-text p {
    margin-bottom: 0;
    font-size: 14px;
}

.delivery-grey label.del-gr {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: #65696A;
    justify-content: flex-end;
}

.delivery-grey label.del-gr input.del_chk {
    margin-top: 0;
    margin-left: 5px;
}

.delivery-grey .col-md-6:last-child {
    justify-content: end;
}

.form-group label.savemycard {
    display: flex;
}

.form-group label.savemycard input.form-control {
    width: auto;
    height: auto;
    margin-right: 7px;
    color: #1D2733;
}

.fa-edit:before{	content:"";	background:url('../images/edit-ico.png') no-repeat scroll center center;	width: 24px;
	height: 24px;	display: inline-block;	position: relative;	top: 6px;  }

.fa-trash:before {	content:"";	background:url('../images/delete-ico.png') no-repeat scroll center center;	width: 24px;	height: 24px;	display: inline-block;	position: relative;	top: 6px;  }

.cart_save .fa-heart:before {	content:"";	background:url('../images/heart-ico.png') no-repeat scroll center center;
	width: 24px;	height: 24px;	display: inline-block;	position: relative;	top: 6px;   }
	
.success-popup .modal-body {    text-align: center;    padding: 2rem;   }

.success-popup  button.close {position: absolute;right: 6px;z-index: 1;top: 6px;}

.success-popup h4 {    margin: 20px 0;    font-size: 1.3rem;   }

.cart-picon {    display: flex;    align-items: center;    justify-content: space-between;    margin-bottom: 30px;   }

ul.pays-list {    display: flex;    list-style: none;   }

ul.pays-list li.pactive {border-color: #fea218;}

.cart-picon a.btn-green {    margin-right: 0;   }

ul.pays-list li.pactive:before {    content: "";    position: absolute;    right: -4px;    width: 14px;    height: 14px;    background: url('../images/or-check.png') no-repeat scroll center center;    top: -4px;    }

section.trackorder , section.checkout-mg{    padding-top: 20px;  }

.compare-item a.comp_img {    display: block;    width: 100%;    border-radius: 10px;    margin-bottom: 10px;   }

.compare-item a.comp_img img {    width: 100%;   }

.compare-item a.comp_cat {    color: #65696A;    font-size: 1rem;    display: table;   }

.compare-item  a.comp_title {   display: block;    font-size: 1.3rem;    font-weight: 600;    color: #1D2733;    margin-bottom: 10px; }

.compare-item ul.comp-select {    margin-top: 20px;   }

.compare-item ul.comp-select li {    list-style: none;    color: #65696A;    font-size: 14px;   }

.compare-item ul.comp-select li h6 {    display: inline-block;    color: #1e1e1e;	    font-size: 1.5rem;   }

.compare-item ul.comp-select li  i {    color: #FEA218;    font-style: normal;  }

.comparpro h5 {margin-bottom: 20px;width: 100%;}
  	
.compare-item ul.comp-select li b {    vertical-align: baseline;    background: #2fb65217;    color: #2FB652;    padding: 2px 7px;    display: inline-block;    font-weight: normal;  }

.comparpro .col-md-4 {/* border-right: 1px solid #ddd; */-ms-flex: 0 0 33.333333%;flex: 0 0 31.333333%;max-width: 31.333333%;}

.compare-item {padding-right: 0;}

.comparpro .col-md-4:last-child {    border: none;  }

.row.row-compare {    justify-content: space-between;  }

.comparpro .col-md-4:after {    content: "";    position: absolute;    right: -15px;    height: 100%;    border-right: 1px solid #ddd;    top: 0;   }

.comparpro .col-md-4:last-child:after {    display: none;   }

.order-track h4 b {    font-weight: 700;   }

.order-track h4 {    font-weight: 400;   }

.order-list {margin: 50px 0;width: 100%;}

.order-list li {    list-style: none;    color: #1D2733;    margin-right: 7rem;    }

.order-list li b {    font-weight: 600;    display: block;   }

.order-list ul {    list-style: none;    display: flex;    justify-content: flex-start;   }

.order-list li span {    font-size: 14px;   color: #65696A;   }

.order-list li:last-child {    margin-right: 0;   }

.track-nav ul.nav-circle {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 50px;
    width: 100%;
}

.track-nav ul.nav-circle li {
    display: flex;
    list-style: none;
    width: 33%;
    position: relative;
}

.track-nav ul.nav-circle li span.track-ico {
    display: flex;
    margin: 0 auto 10px;
    width: 70px;
    height: 70px;
    background: #ff9401;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.track-nav ul.nav-circle li a.tgreen span.track-ico {
	background-color: #2FB652;
}

.track-nav ul.nav-circle li a.tgrey span.track-ico {
	background-color: #CFCFCF;
}

.track-nav ul.nav-circle li span.track-ico:before {
    content: "";
    position: absolute;
    width: 92%;
    height: 92%;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.track-nav ul.nav-circle b {
    display: block;
    color: #1e1e1e;
    margin-top: 5px;
    font-weight: 500;
}

.track-nav ul.nav-circle li a {
    text-decoration: none;
}

.track-nav ul.nav-circle li:after {
    content: "";
    position: absolute;
    right: -25%;
    width: 100%;
    height: 2px;
    background: #CFCFCF;
    top: 34%;
    z-index: -1;
}

.track-nav ul.nav-circle li:last-child:after {
    display: none;
}	

.track-pbx , .track-review {
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0 7px 13px #dddddd85;
    border-radius: 6px;
}

.trackorder .col-md-5 {
    padding-left: 40px;
}

.track-pbx h5 {
    margin-bottom: 20px;
    width: 100%;
    font-size: 1.1rem;
}

.track-pbx  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #65696A;
    font-size: 15px;
    margin-top: 18px;
}

.track-pbx li strong {
    font-weight: 600;
}

.track-pbx li label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.track-pbx li.trk-cost {
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.track-pbx li label i {
    width: 30px;
    display: flex;
    align-items: center;
}

.track-nav .cart-prod-item:last-child {
    border: none;
    padding: 0;
    margin: 0;
}

.track-star {
    margin-bottom: 30px;
    text-align: center;
}

.track-star i.fa {
    font-size: 2rem;
    color: #FFBC04;
    margin: 0 5px;
}

.track-review button.submit-btn {
    margin-top: 10px;
    width: 100%;
}

.track-review  textarea.form-control {
    height: 80px;
    resize: none;
    font-size: 14px;
}

.track-btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.track-btn a.btn {
    width: 48%;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-btn a.btn img {
    margin-right: 3px;
}